:root
{
    --gab-blob:50px;
    --blob-size:calc(1.5);
    --blob-width:calc(500px);
    --blob-height:calc(415px);
    --icon-size:450px;
    --sec1-height:100vh;
}
*{
    font-weight: 800;
    text-align: center;
    letter-spacing: 0.1rem;
}
body
{
    overflow-x: hidden;
}
.sec1{
    background: radial-gradient( #fcfcff,#8473db);
    min-height: var(--sec1-height);
}
.sec2{
    min-height: 100px;
}
.sistemP{
    position: absolute;
    width: 100%;
    height: var(--sec1-height);
    background: url(../Imagens/SistemaP.png);
    background-size: 100vw;
    background-repeat: no-repeat;
    z-index: 1;
}
.wave1{
    position: relative;
    display: flex;
    align-items: end;
    width: 100%;
    height: var(--sec1-height);
    z-index: 11;
}
.splash{
    position: absolute;
    bottom: calc(50% + 300px);
    left:5%;
    z-index: 10;
}
.Nome{
    position: relative;
    bottom: 30px;
    font-size: 1.5rem;
    width: 650px;
    height: max-content;
    background: #252045;
    color: white;
    transform: rotate(-7deg);
    z-index: 12;
}
.Job{
    position: relative;
    bottom: 20px;
    left: -30px;
    font-size: 1.25rem;
    width: 650px;
    height: auto;
    background: #3D3E8B;
    color: white;
    transform: rotate(-7deg);
    z-index: 12;
}

.icons{
    position: absolute;
}
.icon{
    height: var(--icon-size);
    width: var(--icon-size);
    border-radius: 100%;
}
.i1{      
    background: #fff;
    display: flex;
    justify-content: center;
    overflow: hidden;
    z-index: 1;
}
.i2{
    background: #bbb;
    position: absolute;
    top: 10px;
    left: 10px;
    z-index: -1;
}
.blobs{
    position: relative;
    width: calc(var(--blob-size)*var(--blob-width));
    top: -70px;
    left: 0px;
}
.blob{
    position: absolute;

    height: calc(var(--blob-size)*var(--blob-height));
    -webkit-mask-image: url(../Imagens/blob.png);
    -webkit-mask-repeat: no-repeat;
    -webkit-mask-size: calc(var(--blob-size)*var(--blob-width));
}
.blob.b1{
    background: linear-gradient(135deg, #7e7df1, #111d3f);
    z-index: -2;
}
.blob.b2{
    background: linear-gradient(135deg, #000, #2523a0);
    z-index: -3;
    transform: translate(calc(var(--gab-blob)), calc(var(--gab-blob)));  
}
.blob-galaxia{
    background: url(../Imagens/Space.jpg);
    background-size: auto;
    background-repeat: round !important;
    z-index: -4;
    transform: translate(calc(var(--gab-blob)*2), calc(var(--gab-blob)*2));

    animation: 50s linear infinite galaxia !important;
}

@keyframes galaxia{
    0%{
        background-position-x: 0px;
    }
    100%{
        background-position-x: -100vw;
    }
}
@media only screen and (max-width:1000px){
    :root{
        --icon-size:calc(400px / 2);
        --blob-width:calc(500px / 2);
        --blob-height:calc(415px / 2);
        --gab-blob:calc(40px / 2);
        --sec1-height:calc(500px);
    }
    .Nome{
        bottom: 20px;
        font-size: 1rem;
        width: 350px;
        padding-top: 5px !important;
        padding-bottom: 5px !important;
        height: max-content;
    }
    .Job{
        bottom: 10px;
        font-size: 0.8rem;
        padding-top: 2px !important;
        padding-bottom: 2px !important;
        width: 350px;
        height: max-content;
    }
    .blobs{
        top:-30px;
    }
    .splash{
        top: 130px;
    }
}
@media only screen and (max-width:500px){
    :root{
        --icon-size:calc(400px / 3);
        --blob-width:calc(500px / 3);
        --blob-height:calc(415px / 3);
        --gab-blob:calc(40px / 3);
        --sec1-height:300px;
    }
    .Nome{
        bottom: 20px;
        font-size: 0.8rem;
        width: 200px;
        padding-top: 5px !important;
        padding-bottom: 5px !important;
        height: max-content;
    }
    .Job{
        bottom: 10px;
        font-size: 0.6rem;
        padding-top: 2px !important;
        padding-bottom: 2px !important;
        width: 200px;
        height: max-content;
    }
    .blobs{
        top:-20px;
    }
    .splash{
        top: 80px;
    }
}
