:root
{
    --gab-blob:50px;
    --blob-size:calc(1.5);
    --blob-width:calc(500px);
    --blob-height:calc(415px);
    --icon-size:450px;
    --sec1-height:950px;
    --cor1:#252045;
    --cor2:#3D3E8B;
    --cor3:#11092C;
    --cor-destaque:#7843E6;
}
body
{
    overflow-x: auto;
}
.sec1{
    background: radial-gradient( #fcfcff,#8473db);
    min-height: var(--sec1-height);
}
.sec2{
    background:var(--cor3);
}
.sec3{
    background: var(--cor2);
}
.slideContainer{
    width: 100%;
    height: 100%;
}
.slideLine{
    position: relative;
    width: 100%;
    height: 100px;
    overflow: hidden;
}
.sistemP{
    position: absolute;
    width: 100%;
    height: var(--sec1-height);
    background: url(../Imagens/SistemaP.png);
    background-size: 100vw;
    background-repeat: no-repeat;
    z-index: 1;
}
.wave1{
    position: relative;
    display: flex;
    align-items: end;
    height: var(--sec1-height);
    z-index: 11;
}
.splash{
    position: absolute;
    top: 100px;
    left:5%;
    z-index: 10;
    transition: linear;
}
.Nome{
    position: relative;
    bottom: 30px;
    width: 650px;
    height: max-content;
    background: var(--cor1);
    color: white;
    transform: rotate(-7deg);
    z-index: 12;
}
.Job{
    position: relative;
    bottom: 20px;
    left: -30px;
    width: 650px;
    height: auto;
    background: var(--cor2);
    color: white;
    transform: rotate(-7deg);
    z-index: 12;
}

.icons{
    position: absolute;
}
.icon{
    height: var(--icon-size);
    width: var(--icon-size);
    border-radius: 100%;
}
.i1{      
    background: #fff;
    display: flex;
    justify-content: center;
    overflow: hidden;
    z-index: 1;
}
.i2{
    background: #bbb;
    position: absolute;
    top: 10px;
    left: 10px;
    z-index: -1;
}
.blobs{
    position: relative;
    width: calc(var(--blob-size)*var(--blob-width));
    height: fit-content;
    top: -70px;
    left: 0px;
}
.blob{
    position: absolute;

    height: calc(var(--blob-size)*var(--blob-height));
    -webkit-mask-image: url(../Imagens/blob.png);
    -webkit-mask-repeat: no-repeat;
    -webkit-mask-size: calc(var(--blob-size)*var(--blob-width));
}
.blob.b1{
    background: linear-gradient(135deg, #7e7df1, #111d3f);
    z-index: -2;
}
.blob.b2{
    background: linear-gradient(135deg, #000, #2523a0);
    z-index: -3;
    transform: translate(calc(var(--gab-blob)), calc(var(--gab-blob)));  
}
.blob-galaxia{
    background: url(../Imagens/Space.jpg);
    background-size: auto;
    background-repeat: round !important;
    z-index: -4;
    transform: translate(calc(var(--gab-blob)*2), calc(var(--gab-blob)*2));

    animation: 50s linear infinite galaxia !important;
}
.img{
    border-radius: 10%;
    transition: 500ms;
}
.img:hover{
    transform: translate(0,-10px);
    cursor: pointer;
}
a{
    text-decoration: none;
    
}

@keyframes galaxia{
    0%{
        background-position-x: 0px;
    }
    100%{
        background-position-x: -100vw;
    }
}
