.h{
    font-family: 'Bungee';
}
.glitch{
    color: var(--cor-destaque);
    text-shadow: 
        2px -2px #00FFFF, 
        -2px 2px#FF00FF;
}
.glow{
    word-spacing: 2rem;
    color: var(--cor2);
    text-shadow: 
        10px 10px #fff;
    -webkit-text-stroke: 2px #fff;
}
.destaque{
    color: var(--cor-destaque);
}
.slide{
    transform: rotate(-10deg);
    z-index: 0;
    position: relative;
}
.slideRow{
    position: relative;
    left: -100%;
}
.slide h1{
    font-size: 10vw;
    white-space: nowrap;
    user-select: none;
}
p{
    font-family: 'poppins';
    letter-spacing: 0.1rem;
    word-spacing: 0.1rem;
    line-height: 2rem !important;
}
a{
    text-decoration: none;
}
.icone{
    font-size: 100px;
}
.contato-texto{
    font-size: 1.5rem;
}
.Nome,.Job{
    font-family: 'poppins';
    text-align: center;
    letter-spacing: 0.1rem;
    font-weight: 900;
}